<hibernate-configuration>
    <session-factory>
        <!-- DB connection -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/user_service</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">root</property>

        <!-- Dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <!-- Show SQL -->
        <property name="hibernate.show_sql">true</property>

        <!-- Update schema automatically -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Mapped classes -->
        <mapping class="entity.User"/>
    </session-factory>
</hibernate-configuration>